/*järgmine osa avalehel(kasvatamine)*/  

.kasvatamine{min-height: 100vh;
    width: 100%;
    background-color: rgba(243, 195, 1, 1);
    background-position: center;
    background-size: cover;
    position: relative;}

.rida{display: flex;
    justify-content: space-between;
    position: absolute;
    top: 15%;}

.veerg_kasvatamine{flex-basis: 50%;
    text-align:justify;
    padding: 3% 3%;}

.veerg_kasvatamine h1{font-weight: 800;
    font-size: 40px;
    text-align: right;
    color: rgba(250, 107, 132, 1);}

.veerg_kasvatamine img{height:400px;
     width:auto;
     border-radius: 10px;}


/*avalehe ostmise osa*/

.ostmine{background-color: rgba(215, 228, 242, 1);
    text-align: center;
    min-height: 80vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;;
}

.ostmine h1{font-weight: 800;
    font-size: 40px;
    color: rgba(250, 107, 132, 1);
    padding-top: 1%;}

.veerg_ostmine{flex-basis: 33%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    left: 2.5%;}

.veerg_ostmine img{display: block;
    width:auto;
    height: 300px;}

.looma_lühikirjeldus{background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;}

.looma_lühikirjeldus:hover{background: rgba(135, 193, 89, 0.8);}

.looma_lühikirjeldus h2{width: 100%;
    font-weight: 600;
    color: rgba(250, 107, 132, 1);
    font-size: 30px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;}

.looma_lühikirjeldus p{width: 100%;
    font-weight: 600;
    color: rgb(0, 0, 0);
    font-size: 18px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position:absolute;
    opacity: 0;
    transition: 0.5s;}

.looma_lühikirjeldus:hover h2{bottom: 49%;
    opacity: 1;}
.looma_lühikirjeldus:hover p{bottom: 42%;
    opacity: 1;}